<div class="container">
  <!-- <p class="notice"><%#= notice %></p> -->
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-xs-5">
          <% unless @user.avatar_url.nil? %>
            <img class="img-responsive" src="<%= current_user.avatar_url(:profile_face) %>" />
          <% end %>
        </div>
        <div class="col-xs-7">
          <p>Username: <%= @user.username %></p>
          <p>Skintone: <%= @user.skintone.color %></p>
          <p>Eyecolor: <%= @user.eyecolor.color %></p><br />
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h4>My Favorites:</h4>
      <ul class="nav nav-tabs" id="myProductsTab">
        <li class="active"><a href="#skincare">Skincare Products</a></li>
        <li><a href="#concealer">Concealer</a></li>
        <li><a href="#foundation">Foundation/BB Cream</a></li>
        <li><a href="#eyeliner">Eyeliner</a></li>
        <li><a href="#eyeshadow">Eyeshadow</a></li>
        <li><a href="#brow">Brow</a></li>
        <li><a href="#blush">Blush/Bronzer</a></li>
        <li><a href="#lipstick">Lipstick/Gloss</a></li>
      </ul>

      <div class="tab-content" style="overflow-y:auto;">
          
          <div class="tab-pane active col-xs-10 col-xs-offset-1" id="skincare">
            <% for product in @user.products do %>
              <% if product.category_id == 1 %>
                <p>Name: <%= product.name %><br />
                Review/Comment: <%= product.review %></p>
              <% end %>
            <% end %>
          </div>
          <div class="tab-pane col-xs-10 col-xs-offset-1" id="concealer">
            <% for product in @user.products do %>
              <% if product.category_id == 2 %>
                <p>Name: <%= product.name %><br />
                Review/Comment: <%= product.review %></p>
              <% end %>
            <% end %>
          </div>
          <div class="tab-pane col-xs-10 col-xs-offset-1" id="foundation">
            <% for product in @user.products do %>
              <% if product.category_id == 3 %>
                <p>Name: <%= product.name %><br />
                Review/Comment: <%= product.review %></p>
              <% end %>
            <% end %>
          </div>
          <div class="tab-pane col-xs-10 col-xs-offset-1" id="eyeliner">
            <% for product in @user.products do %>
              <% if product.category_id == 4 %>
                <p>Name: <%= product.name %><br />
                Review/Comment: <%= product.review %></p>
              <% end %>
            <% end %>
          </div>
          <div class="tab-pane col-xs-10 col-xs-offset-1" id="eyeshadow">
            <% for product in @user.products do %>
              <% if product.category_id == 5 %>
                <p>Name: <%= product.name %><br />
                Review/Comment: <%= product.review %></p>
              <% end %>
            <% end %>
          </div>
          <div class="tab-pane col-xs-10 col-xs-offset-1" id="brow">
            <% for product in @user.products do %>
              <% if product.category_id == 6 %>
                <p>Name: <%= product.name %><br />
                Review/Comment: <%= product.review %></p>
              <% end %>
            <% end %>
          </div>
          <div class="tab-pane col-xs-10 col-xs-offset-1" id="blush">
            <% for product in @user.products do %>
              <% if product.category_id == 7 %>
                <p>Name: <%= product.name %><br />
                Review/Comment: <%= product.review %></p>
              <% end %>
            <% end %>
          </div>
          <div class="tab-pane col-xs-10 col-xs-offset-1" id="lipstick">
            <% for product in @user.products do %>
              <% if product.category_id == 8 %>
                <div class="product_container">
                <p>Name: <%= product.name %><br />
                Review/Comment: <%= product.review %></p>
                </div>
              <% end %>
            <% end %>
          </div>

      </div>
    </div>
  </div>
</div>