<div class="container">
  <!-- <p class="notice"><%#= notice %></p> -->
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-xs-5">
          <% unless current_user.avatar_url.nil? %>
            <img class="img-responsive" src="<%= current_user.avatar_url(:profile_face) %>" />
          <% end %>
        </div>
        <div class="col-xs-7">
          <p>Username: <%= current_user.username %></p>
          <p>Skintone: <%= current_user.skintone.color %></p>
          <p>Eyecolor: <%= current_user.eyecolor.color %></p><br />
          <div><p>Edit account</p></div>
        </div>
      </div>
      <p>Found a great new product? Add it to your favorites and share it!</p>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseAdd">
                + Add a product
              </a>
            </h4>
          </div>
          <div id="collapseAdd" class="panel-collapse collapse">
            <div class="panel-body">
              <%= form_for @product do |f| %>
                <div>
                  <%= f.label :name %><br />
                  <%= f.text_field :name, :class => "form-control" %>
                </div>
                <div>
                  <%= f.label "Category" %>
                  <%= f.collection_select :category_id, Category.all, :id, :name, :prompt => "Select One" %>
                </div>
                <div>
                  <%= f.label "Review/Comment" %><br />
                  <%= f.text_area :review, :class => "form-control" %>
                </div><br />
                <%= f.submit %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h4>My Favorites:</h4>
      <ul class="nav nav-tabs" id="myProductsTab">
        <li class="active"><a href="#skincare">Skincare Products</a></li>
        <li><a href="#concealer">Concealer</a></li>
        <li><a href="#foundation">Foundation/BB Cream</a></li>
        <li><a href="#eyeliner">Eyeliner</a></li>
        <li><a href="#eyeshadow">Eyeshadow</a></li>
        <li><a href="#brow">Brow</a></li>
        <li><a href="#blush">Blush/Bronzer</a></li>
        <li><a href="#lipstick">Lipstick/Gloss</a></li>
      </ul>

      <div class="tab-content" style="overflow-y:auto;">
          
          <div class="tab-pane active col-xs-10 col-xs-offset-1" id="skincare">
            <% for product in current_user.products do %>
              <% if product.category_id == 1 %>
                <div class="product_container">
                  <p>Name: <%= product.name %><br />
                  Review/Comment: <%= product.review %></p>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="tab-pane col-xs-10 col-xs-offset-1" id="concealer">
            <% for product in current_user.products do %>
              <% if product.category_id == 2 %>
                <div class="product_container">
                  <p>Name: <%= product.name %><br />
                  Review/Comment: <%= product.review %></p>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="tab-pane col-xs-10 col-xs-offset-1" id="foundation">
            <% for product in current_user.products do %>
              <% if product.category_id == 3 %>
                <div class="product_container">
                  <p>Name: <%= product.name %><br />
                  Review/Comment: <%= product.review %></p>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="tab-pane col-xs-10 col-xs-offset-1" id="eyeliner">
            <% for product in current_user.products do %>
              <% if product.category_id == 4 %>
                <div class="product_container">
                  <p>Name: <%= product.name %><br />
                  Review/Comment: <%= product.review %></p>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="tab-pane col-xs-10 col-xs-offset-1" id="eyeshadow">
            <% for product in current_user.products do %>
              <% if product.category_id == 5 %>
                <div class="product_container">
                  <p>Name: <%= product.name %><br />
                  Review/Comment: <%= product.review %></p>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="tab-pane col-xs-10 col-xs-offset-1" id="brow">
            <% for product in current_user.products do %>
              <% if product.category_id == 6 %>
                <div class="product_container">
                  <p>Name: <%= product.name %><br />
                  Review/Comment: <%= product.review %></p>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="tab-pane col-xs-10 col-xs-offset-1" id="blush">
            <% for product in current_user.products do %>
              <% if product.category_id == 7 %>
                <div class="product_container">
                  <p>Name: <%= product.name %><br />
                  Review/Comment: <%= product.review %></p>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="tab-pane col-xs-10 col-xs-offset-1" id="lipstick">
            <% for product in current_user.products do %>
              <% if product.category_id == 8 %>
                <div class="product_container">
                  <p>Name: <%= product.name %><br />
                  Review/Comment: <%= product.review %></p>
                </div>
              <% end %>
            <% end %>
          </div>

      </div>
    </div>
  </div>
</div>