<div class="outter_signin_container">
<div class="container signin_page">
  <p class="signin_paragraph">
    Finding the right products and makeup for your face can be challenging.
    But when you do, why not share it with the world?
    Sign in to keep track of the products you love that work for you, and share them with others!
  </p>
  <!-- <div class="notice"><%= notice %></div> -->
  <div class="alert"><%= alert %></div>
  <h2>Sign in</h2>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div><%= f.submit "Sign in" %></div>
  <% end %><br />

  <%#= render "devise/shared/links" %>
  <%= render "sites/sign_up_modal" %>
  <%= link_to "Sign up", "#sign_up", "data-toggle" => "modal", "data-target" => "#sign_up", :class => 'btn btn-xs btn-success' %><br />
  <%= link_to "Forgot your password?", new_password_path(resource_name) %>
</div>
</div>