<div class="product_container" id="user_product_container" style="height: 400px;">
  <p><a href="{{username}}/{{user_id}}"><img src="{{avatar}}" /> {{username}}</a></p>
  <img class="img_container" src="{{image.thumb.url}}" />
  <div class="product_content" style="height: 110px; overflow-y:auto;">
    <p><label>Name:</label> {{name}}<br />
    <label>Review/Comment:</label> {{review}}</p>
  </div>
</div>