<div class="product_container" id="user_product_container" style="height: 400px;">
  <div class="row">
    <p class="col-xs-7"><a href="{{username}}/{{user_id}}"><img src="{{avatar}}" /> {{username}}</a></p>
    <div class="col-xs-5" style="text-align: right;">
      Skin: {{skintone}}<br/>
      Eyes: {{eyecolor}}
    </div>
  </div>
  <img class="img_container" src="{{image.thumb.url}}" />
  <div class="product_content" style="height: 110px; overflow-y:auto; margin-top: 10px;">
    <p><label>Name:</label> {{name}}<br />
    <label>Review/Comment:</label> {{review}}</p>
  </div>
</div>