<div class="user_box" >
  <div id="user" data-skintone="{{user.skintone.color}}">
    <p>
      <a href="{{username}}/{{id}}"><img src="{{avatar.circle_face.url}}" /><a/><br />
      Username: {{username}}<br />
      Skintone: {{skintone.color}}<br />
      Eyecolor: {{eyecolor.color}}
    </p>
  </div>
</div>
