<div class="container">
  <h2>Users with brown-dark skintones:</h2>
  <% for user in @users do %>
    <% if user.skintone_id == 5 || user.skintone == 6 %>
      <div class="user_box">
        <p>
          Username: <a href="<%= user.username %>/<%= user.id %>"><%= user.username %></a><br />
          Skintone: <%= user.skintone.color %><br />
          Eyecolor: <%= user.eyecolor.color %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>