<div class="container">
  <h2>Users with light-fair skintones:</h2>
   <% if @users == [] %>
    <p>There are currently no users with light-fair skintones.</p>
  <% else %>
    <% @users.each do |user| %>
      <div class="user_box">
        <p>
          <a href="<%= user.username %>/<%= user.id %>"><%= image_tag user.avatar_url(:circle_face) %></a><br />
          Username: <%= user.username %><br />
          Skintone: <%= user.skintone.color %><br />
          Eyecolor: <%= user.eyecolor.color %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>